.BarraDeNavegacao{
    background-color: springgreen;
    display: flex;
    align-items: center;
    height: 150px;
    margin-bottom: 30px;
}
.OutrasPaginas{
    font-size: larger;
    margin-left: 65%;
}
.logo{
    margin-left: 20px;
    border: none;
    height: 100px;
    width: 100px;
}
.blogDoDiaSobreNos{
    text-align: center;
    margin: 20px auto;
    border: solid 3px seagreen;
    border-radius: 10px;
    background-color: white;
    width: 80%;
}
.FoxReports{
    margin: 0 0 20px 0;
    color: seagreen;
    font-size: 50px;
    font-family: "OCR A Std", monospace;
}
body{
    text-align: center;
    margin: 0 auto; 
    background-color: lightgreen;
}
h1{
    margin: 20px auto;
    font-size: 60px;
    width: 50%;
    color: white;
    border: solid 3px black;
    border-radius: 50px;
    font-family: Snell Roundhand, cursive;
    background-color: palegreen;
}
h3{
    font-family: "OCR A Std", monospace;
}
p{
    margin: 40px 60px 40px 60px;
    text-align: justify;
    text-indent: 60px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    height: 300px;
    width: 300px;
    border: solid 1px black;
    border-radius: 50%;
}
button{
    color: white;
    background-color: seagreen;
    border-radius: 5px;
    font-size: 20px;
    font-family: OCR A Std, monospace;
}